@model PersonalServiceBus.RSS.Models.AddFeedViewModel

@{
    ViewBag.Title = "Add Feed";
}

<h2>Add Feed</h2>
@if (ViewBag.Response != null && ViewBag.Response.IsError)
{
    <span class="error-server">@ViewBag.Response.ErrorMessage</span>
    <div class="error-detail">@ViewBag.Response.ErrorException</div>    
}
<div class="form-addfeed">
@using (Html.BeginForm("AddFeed", "Home"))
{
    <span class="form-field">
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    </span>
    <span class="form-field">
    @Html.LabelFor(m => m.Category)
    @Html.EditorFor(m => m.Category)
    </span>
    <span class="form-field">
    @Html.LabelFor(m => m.Url)
    @Html.EditorFor(m => m.Url)
    </span>
    <input type="submit" />
}
</div>