@model PersonalServiceBus.RSS.Models.AddFeedViewModel

<div class="form-addfeed">
@using (Html.BeginForm("AddFeed", "Home"))
{
    <span class="form-field">
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    </span>
    <span class="form-field">
    @Html.LabelFor(m => m.Category)
    @Html.EditorFor(m => m.Category)
    </span>
    <span class="form-field">
    @Html.LabelFor(m => m.Url)
    @Html.EditorFor(m => m.Url)
    </span>
    <input type="submit" />
}
</div>